nextflow.enable.dsl=2
/*
========================================================================================
    nf-rnaseq-pipeline Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name = "BJ-Expression"
  description = "Pipeline process RNASeq data and assess transcript-level and gene-level quantification."
  author = "BioSkryb Genomics"
  mainScript = "main.nf"
  version = '2.0.0'
  
}
nextflow.enable.configProcessNamesValidation = false


/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

params{
  // GENERAL
  help = false
  organization = ""
  workspace = ""
  project = ""
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  architecture = "x86" // "arm" and "x86" options
  
  // READ INPUTS
  // test_file = "$baseDir/test/data/inputs/test.txt"
  reads = ""
  input_csv = ""
  min_reads = 5000
  
  // GENOME
  genomes_base = "/data/OpenOmics/references/bioskryb"
  genome = 'GRCh38'
  mode = "rnaseq"
  
  // SEQTK
  read_length = 50
  n_reads = 100000
  seqtk_sample_seed = 123

  // FASTP
  instrument = ""
  two_color_chemistry = ( params.instrument in [ "NextSeq", "NovaSeq" ] ? true : false )
  qc_only_mode  = false
  adapter_sequence = "AAGCAGTGGTATCAACGCAGAGTACA"
  adapter_sequence_r2 = "AAGCAGTGGTATCAACGCAGAGTACAT"

  //Cell typing 
  celltype_ref = "${params.genomes_base}/dev-resources/rnaseq_celltype_qbio/db_celltype_qbio.RDS"
  
  //MultiQC
  multiqc_config = "$baseDir/assets/multiqc"
  
  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  enable_publish = true
  disable_publish = false
  
  //SKIP MODULES
  // If these flags are specified during runtime it will skip those process
  skip_subsampling = false
  skip_fastq_merge = true
  skip_cutadapt = false
  skip_qc_plots = false


  //10x options
  skip_10X = true
  lib_protocol_10x = "chromium"
  lib_type_10x = "ISR"
  
  // NOTIFICATIONS
  email_on_fail = ""
  tmp_dir = "/tmp/${params.timestamp}"


}
// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules_expression.config'

params.salmon_index               = params.genomes [ params.genome ] [ 'salmon_index']
params.tx2gene                    = params.genomes [ params.genome ] [ 'tx2gene']
params.star_index                 = params.genomes [ params.genome ] [ 'star_index']
params.gtf_file                   = params.genomes [ params.genome ] [ 'gtf_file']
params.genebody_ref               = params.genomes [ params.genome ] [ 'genebody_ref']
params.bed_files_dir              = params.genome == 'GRCh38' ? params.genomes [ params.genome ] [ 'bed_files_dir'] : null